<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Welcome to woflo</h1>

<p>
  your login credential is <br/>
  Email:  <%= @user.email %><br/>
  Password: "123456"<br/>
</p>

<p>
  To login to the site, just follow this link: <%= @url %>.
</p>

<p>Have a great day!</p>
</body>
</html>