<div class="tabbable pull-right">
  <h4> Activity Stream</h4>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab4" data-toggle="tab">My Stream</a></li>
    <li><a href="#tab5" data-toggle="tab">User Stream</a></li>
    <li><a href="#tab6" data-toggle="tab">Team Stream</a></li>
    <li><a href="#tab7" data-toggle="tab">Project Stream</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab4">
      <%= render :partial => "stream" %>
    </div>
    <div class="tab-pane" id="tab5">
      <%= render :partial => "stream" %>
    </div>
    <div class="tab-pane" id="tab6">
      <%= render :partial => "stream" %>
    </div>
    <div class="tab-pane" id="tab7">
      <%= render :partial => "stream" %>
    </div>
  </div>
</div>
