<form>
  <fieldset>
    <h4>Comment</h4>
    <textarea rows="3"></textarea><br>
    <button type="submit" class="btn btn-mini btn-primary">post</button>
    <p class="help-inline">200 character maximum</p>
  </fieldset>
</form>