<table class="table table-striped">
  <h4> Recent Activities</h4>
  <thead>
  <tr>
    <th>Activity ID</th>
    <th>Activity Name</th>
    <th>Priority</th>
    <th>Activity Status</th>
    <th>Date Created</th>
    <th>Date Updated</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>USI-1</td>
    <td>Utility Service Interruption(USI) Request</td>
    <td>High</td>
    <td>Approved</td>
    <td>04/22/2013</td>
    <td>04/22/2013</td>
  </tr>
  </tbody>
</table>