<table class="table table-borderless">
  <tr>
    <td>Iamge</td>
    <td>Name</td>
    <td>Activity</td>
    <td>04/22/2013 12:30PM</td>
  </tr>
  <tr>
    <td>Iamge</td>
    <td>Name</td>
    <td>Activity</td>
    <td>04/22/2013 12:30PM</td>
  </tr>
</table>