<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
    <li><a href="#tab2" data-toggle="tab">Activity Metrics</a></li>
    <li><a href="#tab3" data-toggle="tab">calender</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="over-view-content recent_activity">
        <%= render :partial => "post_comment" %>
        <%= render :partial => "recent_activity" %>
        <%= render :partial => "activity_summary" %>
      </div>

      <div class="over-view-content activity_stream">
        <%= render :partial => "activity_stream" %>
      </div>

    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
  </div>
</div>